.ShopListMain h1 {
	color: #2c3e50;
}

.ShopListMain .link {
	padding-bottom: 60px;
}

.ShopListMain .theList li {
	color: #333;
	background: #f1c40f;
	padding: 17px;
	margin-bottom: 15px;
	border-radius: 5px;
	list-style: none;
}
ul.theList {
	padding-top: 45px;
}

.ShopListMain .theList li:hover {
	background-color: #55efc4;
	cursor: pointer;
}

.ShopListMain .theList .items {
	color: blue;
}

.theListDone li {
	color: #333;
	background-color: #55efc4;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	list-style: none;
}
ul.theListDone {
	padding-top: 45px;
}

.saga {
	color: green;
	margin-left: 65px;
}

.buttonClass {
	margin-top: 30px;
	margin-left: 65px;
}
